@{
    ViewData["Title"] = "Disk Inventory";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Ultimate Disk Inventory</h1>
    <p>Inventory management software</p>
    <p>Managed Katy Perry</p>
    <h1>Admin</h1>
    <div class="list-group">
        <a asp-controller="Artist" asp-action="List"
           class="list-group-item">Manage Artists</a>
        <a asp-controller="Renter" asp-action="List"
           class="list-group-item">Manage Renter</a>
        <a asp-controller="Disk" asp-action="List"
           class="list-group-item">Manage Disk</a>
        <a asp-controller="DiskHasRenter" asp-action="List"
           class="list-group-item">Manage Checkouts</a>

    </div>
</div>
